* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.6s ease-in-out;
}

/* Background states */
body.sunny {
  background: url("/public/images/sunny.jpg") no-repeat center center/cover;
}

body.cloudy {
  background: url("/public/images/cloudy.jpg") no-repeat center center/cover;
}

body.rainy {
  background: url("/public/images/rainy.jpg") no-repeat center center/cover;
}

body.snowy {
  background: url("/public/images/snowy.jpg") no-repeat center center/cover;
}

body.foggy {
  background: url("/public/images/foggy.jpg") no-repeat center center/cover;
}

body.default-bg {
  background: url("/public/images/sunny.jpg") no-repeat center center/cover;
}